<aside class="logo">
	<a href="{{ site.baseurl }}/" title="Prodregation @ Balabit/OneIdentity">
		<img src="{{ site.baseurl }}/assets/favicon.ico" alt="Balabit Logo">
	</a>
	<div>Prodregation @ <a href="http://oneidentity.com" title="One Identity homepage" target="_blank">One Identity</a></div>
</aside>
{% if page.url == '/index.html' or page.url == '/' %}
	<div class="header-about">
		<a href="{{ site.baseurl }}/about.html" title="What is Prodregation?" class="header-about-button">
		What is Prodregation?
		<span class="header-about-button-line"></span>
		</a>
	</div>
{% endif %}
